{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<section id="content">
        <article>
                <header>
                        <h1>
                                <a href="{{ pagename }}"
                                        rel="bookmark"
                                        title="Permalink to {{ article.title|striptags }}">
                                        {{ article.title}}
                                </a>
                        </h1>
                </header>
                <div class="entry-content">
                {{ article.content }}
				<div class="post-gallery">
        <ul class="art-list">
        <div class="art-sizer"></div>
        {% for image in article.images %}
        
                <div class="artwork"><li><a href="{{ SITEURL }}/images/art/{{ image }}" class="gallery" rel="gallery" title="<i>{{ article.title }}</i>, {{ article.locale_date }},
                {{ article.medium }}"><img src="{{ SITEURL }}/thumbs/vertical/{{ image }}"></a>
                
             </li></div>
        {% endfor %}

        </ul>
        </div>
                </div><!-- /.entry-content -->
                
        </article>
</section>
{% endblock %}
